<%- include('partials/header'); -%>

<div class="container home-submissions">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt placerat diam, eu porttitor lectus condimentum bibendum. Vestibulum scelerisque hendrerit nisl, id lobortis lacus cursus vitae. Duis id orci id quam dapibus volutpat. Praesent malesuada, lorem quis euismod fermentum, sapien enim vestibulum mi, nec maximus erat urna sit amet felis. Vestibulum molestie dictum est placerat eleifend. Donec porttitor neque mi, et euismod nisi fringilla quis. Ut non dictum metus, in bibendum ex.

  Duis purus mauris, bibendum vel lorem id, consequat bibendum neque. Sed sit amet neque id augue euismod feugiat. Proin malesuada nulla vel dolor tincidunt facilisis. Quisque lacinia et augue eget laoreet. Sed vitae euismod dui. Nam a dolor varius, porttitor neque quis, scelerisque sem. Ut pulvinar mauris id dictum commodo. Aliquam nec malesuada lectus. Suspendisse sed enim quam. Phasellus lobortis vulputate ante sed commodo. Nullam bibendum sagittis velit, quis finibus magna ultricies id. Nulla rhoncus mollis lacinia. Proin scelerisque ligula quis viverra tempus. Phasellus pellentesque ultricies mattis.

  Quisque laoreet orci eget turpis vehicula feugiat. Suspendisse venenatis, sapien egestas feugiat imperdiet, sem ipsum elementum lorem, in bibendum est diam et dui. Donec quis dignissim erat, at sagittis mi. Nulla ac nulla vitae tellus gravida tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam convallis lacus id eros consequat malesuada. Maecenas eget metus dui. Aliquam in molestie lacus. Sed lacus nibh, elementum eget lorem a, auctor laoreet tortor. Quisque molestie enim eu metus pulvinar, sit amet mollis nisi eleifend. Proin hendrerit at orci vitae scelerisque. Mauris blandit leo leo, non iaculis libero suscipit eget. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse libero urna, dictum sit amet cursus eget, fermentum ac urna. Nullam rutrum nisl et convallis posuere.
</div>

<div class="container home-news">
  Maecenas lorem dui, pellentesque eu elit quis, interdum pulvinar ex. Sed in nunc erat. Donec sit amet nibh et sapien luctus sodales et et quam. In consequat ligula vel mi vestibulum, in euismod nibh finibus. Proin venenatis dapibus libero id iaculis. Vestibulum velit enim, rutrum sed interdum id, faucibus eu ex. Nunc pretium aliquet nunc ut molestie. Nam et nulla sed leo fermentum accumsan. Cras dignissim justo risus, sed ornare felis faucibus quis. Quisque a mi tincidunt neque tempus viverra. In dui dui, fringilla finibus augue eget, porttitor sagittis magna. Pellentesque volutpat sagittis est. Nunc metus mi, dictum et magna eu, ornare ultrices nisi. Suspendisse sapien enim, blandit vel dignissim eu, commodo imperdiet diam. Phasellus mi metus, sollicitudin ut condimentum nec, semper a neque.

  Cras vulputate leo dui, in vestibulum nisi interdum a. Proin volutpat, nibh id pretium commodo, felis mauris vulputate urna, id faucibus lectus lectus at purus. Donec fringilla tortor sed felis aliquet blandit. Aenean tempor massa eget ligula sollicitudin, eget iaculis enim fringilla. Nam vitae erat nibh. Aliquam ultrices tincidunt neque, eget faucibus quam efficitur ultricies. Nulla arcu mi, dignissim ac lobortis eget, facilisis eu ipsum.
</div>


<%- include('partials/footer'); -%>
