<%- include('partials/header'); -%>

<div class="container register">
  <form class="form-signin" method="post">
    <img class="mb-4" src="images/logoalt.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
    <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
    <input type="text" name="username" class="form-control" placeholder="Username" required>
    <input type="password" name="pass" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</div>


<%- include('partials/footer'); -%>
